<tr id="<%= dom_id article %>" class="text-gray-700">
  <td><%= article.id %></td>
  <td><%= article.title %></td>
  <td><%= article.status %></td>
  <td>
    <%= link_to "Show", [:admin, article], class: '' %> | 
    <%= link_to "Edit", edit_admin_article_path(article), class: '' %>
  </td>
</tr>
