<h2 class="text-xl text-gray-700 font-bold my-5">Article detail</h2>

<p class="mb-3">Base information</p>

<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500">
    <tbody>
      <tr class="bg-white border-b">
        <td class="py-3 px-6 uppercase text-gray-700 font-bold">Title</td>
        <td class="py-3 px-6"><%= @article.title %></td>
      </tr>

      <tr class="bg-white border-b">
        <td class="py-3 px-6 uppercase text-gray-700 font-bold">Slug</td>
        <td class="py-3 px-6"><%= @article.slug %></td>
      </tr>

      <tr class="bg-white border-b">
        <td class="py-3 px-6 uppercase text-gray-700 font-bold">Subtitle</td>
        <td class="py-3 px-6"><%= @article.subtitle %></td>
      </tr>

      <tr class="bg-white border-b">
        <td class="py-3 px-6 uppercase text-gray-700 font-bold">Status</td>
        <td class="py-3 px-6"><%= @article.status %></td>
      </tr>

      <tr class="bg-white border-b">
        <td class="py-3 px-6 uppercase text-gray-700 font-bold">Spotlight</td>
        <td class="py-3 px-6"><%= @article.spotlight_until %></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="uppercase my-5 font-bold">Content</p>

<div class="py-3 px-3 mb-3" style="border: 1px solid lightgrey">
  <%= raw @article.content %>
</div>

<div>
  <%= link_to "Edit this article", edit_admin_article_path(@article),
    class: "inline-block rounded-full bg-indigo-500 px-2 py-2 text-white" %> |
  <%= link_to "Back to articles", admin_articles_path, class: "inline-block rounded-full bg-blue-500 px-2 py-2 text-white" %>

  <%= button_to "Destroy this article", [:admin, @article], class: "inline-block rounded-full bg-red-500 px-2 py-2 text-white my-2", method: :delete %>
</div>
