
<% content_for :blog_meta do %>
  <meta name="description" content="<%= @article.subtitle %>" />
  <meta name="keywords" content="<%= @article.tags.join(',') %>" />
<% end %>


<div class="m-0 w-full">
  <img src="<%= article_cover_url(@article) %>" style="height: auto" class="" \>
</div>

<div class="border-b border-grey-lighter py-12 lg:py-18">
  <h1 class="pt-3 font-body text-4xl font-semibold text-primary md:text-5xl lg:text-6xl">
    <%= @article.title %>
  </h1>

  <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
    <%= raw @article.subtitle %>
  </p>
</div>

<div class="border-b border-grey-lighter py-12 lg:py-18">
  <p class="font-body font-light text-primary dark:text-white">
    <%= raw @article.content %>
  </p>
</div>
