<!DOCTYPE html>
<html>
  <head>
    <title>Finnology</title>
    <%= render 'layouts/shared/header' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/shared/flash' %>

    <%= render 'layouts/admin/nav' %>

    <div class="container-fluid" style="min-height: 1000px;">
      <div class="row">
        <%= render 'layouts/admin/side_bar' %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="min-height: 1000px;">
          <div class="container">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
