<!DOCTYPE html>
<html>
  <head>
    <title>Finnology</title>
    <%= render 'layouts/shared/header' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/shared/flash' %>

    <%= render 'layouts/public/nav_bar' %>

    <div class="container-xxl px-2">
      <%= yield %>
    </div>
  </body>
</html>
